<!DOCTYPE html>
<html ng-app="clueApp">
    <head>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css">
        
        
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
        
        <!-- Restangular -->
        <script src="bower_components/lodash/lodash.js"></script>
        <script src="bower_components/restangular/dist/restangular.js"></script>
        
        <!-- Source Scripts -->
        <script src="scripts/app.js"></script>
        <script src="scripts/gameboard.js"></script>
        <script src="scripts/test-services.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/clue-controller.js"></script>
    </head>
<body ng-controller="clueCtrl as ctrl">
    <!-- Debugging Toolbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="#">Debugging Header</a>
            <button type="button" class="btn btn-default navbar-btn" ng-click="ctrl.createGameBoard()">Create Game</button>
            <button type="button" class="btn btn-default navbar-btn" ng-click="ctrl.getPlayers()">Update Players</button>
            <button type="button" class="btn btn-default navbar-btn" ng-click="ctrl.deleteGameBoard()">Delete Game</button>
            
        </div>
    </nav>
    <div class="row"
         cg-busy="{promise:ctrl.promise,templateUrl:ctrl.templateUrl,message:ctrl.message,
                   backdrop:ctrl.backdrop,delay:ctrl.delay,minDuration:ctrl.minDuration}">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">ClueLess</h1>
            <h4 class="text-center">Game State: 
                <span ng-if="ctrl.game_board && !ctrl.gameStart" style="color:blue">Created</span>
                <span ng-if="ctrl.game_board && ctrl.gameStart" style="color:green">Started</span>
                <span ng-if="!ctrl.game_board" style="color:red">null</span>
            </h4>
            <h4 class="text-center">{{ctrl.playerCount}}/6 players</h4>
            <div class="text-center" ng-if="!ctrl.gameStart">
                <h4 ng-if="ctrl.testMyPlayer==null">Select your character:</h4>
                <h4 ng-if="ctrl.testMyPlayer">Waiting on other players...</h4>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-repeat="piece in ctrl.testGamePieces"
                            ng-click="ctrl.pieceSelected(piece)" ng-disabled="piece.isTaken">
                        {{piece.name}}
                    </button>
                </div>
                <p ng-if="ctrl.testPlayers.length<3" class="text-warning center-text">3 players are required to start</p>
                <button type="button" class="btn btn-success btn-xl btn-start" ng-if="ctrl.host" ng-click="ctrl.startGame()" 
                        ng-disabled="ctrl.testPlayers.length<3">
                    Start Game
                </button>
            </div>
            <div class="text-center" ng-if="ctrl.gameStart">
                <canvas gameboard id="myCanvas" players="ctrl.testPlayers">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
                <div class="btn-toolbar center-toolbar" role="toolbar" aria-label="...">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" ng-click="ctrl.makeMove('left')">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.makeMove('right')">
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.makeMove('up')">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.makeMove('down')">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-info">Suggestion</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-danger">Accusation</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">End Turn</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar" ng-if="ctrl.gameStart">
            <h4>{{ctrl.curPlayer.name}}'s Turn</h4>
            <ul>
                <li class="legend" ng-repeat="player in ctrl.testPlayers">
                    <div class="color-box" style="background:{{player.color}}"></div>
                    {{player.name}}
                </li>
            </ul>
            <h4>My cards:</h4>
            <ul>
                <li>Card one</li>
                <li>Card two</li>
                <li>Card three</li>
            </ul>
        </div>
    </div>
</body>
</html>