canvas {
}

ul {
    margin-bottom: 30px;
}

li {
    list-style-type: none;
}

.legend { 
/*    display:inline-block;*/
    margin-bottom:5px;  
}

.color-box {
    height:20px;width:20px;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    margin-right: 5px;
}

.btn-start {  
    padding: 15px 22px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px;
    position: fixed;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-toolbar {
/*    This is not ideal way of positioning toolbar */
    float: right;
    margin-right: 130px;
    margin-top: -60px;
}

sidebar {
    height: 600px;
    overflow: scroll;
}

@media (max-width: 1170px) {
    .btn-toolbar {
        /*    This is not ideal way of positioning toolbar */
        float: none;
        margin-right: 0;
    }
}